body {
    background-color: #eaeaea;
    margin: 0;
}

header {
    background-color: white;
    padding: 10px;
    width: 100%;
}

header h1 {
    margin: 0;
    text-align: center;
}

div.container {
    background-color: white;
    max-width: 600px;
    min-width: 375px !important;
}

div.post {
    background-color: white;
    margin-top: 25px;
    margin-bottom: 25px;
}

div.post {
    float: left;
}

div.post .post-title{
    float: left;
    padding: 10px;
}

div.post .post-date{
    float: right;
    padding: 10px ;
    color: grey;
}

div.post img {
width: 100%;
}

div.post .post-copy{
    text-align: left;
    padding: 10px ;
    line-height: 1;
}